body {
    background-color: #222222;
    color: #dddddd;
}

.form-control {
    background-color: #333333;
    color: #dddddd;
}

.btn {
    background-color: #333333;
    color: #dddddd;
}